.createVenueInnerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 110px;
    background-color: aqua;
    width: 100%;
}

.title{
    font-size: xx-large;
    font-weight: 500;
    text-decoration: solid;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

@media (max-width:750px){
    .createVenueInnerWrapper{
      margin-top: 0%;  
  }
}
