.howItWorkCardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: floralwhite;
    padding: 15px 11px;
    border-radius: 5px;
    margin: 0 20px 20px 20px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.howItWorkCardWrapperP{
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
  }

  .howItWorkCardWrapperP2{
    text-align: center;
  }
  
  @media (max-width:750px){
    .howItWorkCardWrapper{
      width: 80%;
    }

    .howItWorkCardWrapperP{
      font-size: 20px;
    }
  }