.howItWorkCardWrapper{
    display: flex;
    margin: 40px 0px 20px 0px;
    justify-content: center;
}

.howItWorkWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.howItWorkWrapper>p{
    font-size: xx-large;
    font-weight: 500;
}

@media (max-width:750px){
    .howItWorkCardWrapper{
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .howItWorkWrapper>p{
        font-size: x-large;
        font-weight: 500;
    }
    
}